<a href="https://colab.research.google.com/github/Ali199216/Task-pandas-iti/blob/main/Task_pandas_iti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('/content/Purchase_Data.csv')
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12
4     1005    CUST003  Tablet         5        783   3915  2023-02-09

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
print(df_data.dtypes)

OrderID        int64
CustomerID    object
Product       object
Quantity       int64
UnitPrice      int64
Total          int64
Date          object
dtype: object

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_1 = df_data.loc[:, df_data.columns[:2]]
print(result_1.head())

   OrderID CustomerID
0     1001    CUST009
1     1002    CUST007
2     1003    CUST006
3     1004    CUST011
4     1005    CUST003

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_2 = df_data.loc[:1, :]
print(result_2)

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_3 = df_data.loc[:3, df_data.columns[:5]]
print(result_3)

   OrderID CustomerID Product  Quantity  UnitPrice
0     1001    CUST009  Laptop         3        539
1     1002    CUST007   Phone         1       1530
2     1003    CUST006  Tablet         5       1225
3     1004    CUST011  Laptop         1       1557

In [ ]:
#nada mohammed
result_4 = df_data.loc[[0, 4, 6], ["Product", "Date", "Total"]]
print(result_4)

      Product        Date  Total
0      Laptop  2023-06-15   1617
4      Tablet  2023-02-09   3915
6  Headphones  2023-10-24   3088

In [ ]:
#nada mohammed
num_rows = df_data.shape[0]

In [ ]:
# nada mohammed
last_row = df_data.loc[num_rows - 1]
print(last_row)

OrderID             1050
CustomerID       CUST009
Product       Headphones
Quantity               3
UnitPrice           1761
Total               5283
Date          2023-12-14
Name: 49, dtype: object

In [ ]:
# nada mohammed
avg_price = df_data["UnitPrice"].mean()
max_price = df_data["UnitPrice"].max()
print(f'The average unit price is {avg_price} and the maximum unit price is {max_price}')

The average unit price is 1078.46 and the maximum unit price is 1972

In [ ]:
#nada mohammed
avg_price, avg_num_items = df_data[["UnitPrice", "Quantity"]].mean()
print(f'The average unit price is {avg_price} and the average number of items is {avg_num_items}')

The average unit price is 1078.46 and the average number of items is 2.92

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Purchase_Data.csv to Purchase_Data (1).csv

In [ ]:

import pandas as pd

df_data = pd.read_csv("Purchase_Data.csv")
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12
4     1005    CUST003  Tablet         5        783   3915  2023-02-09

In [ ]:
#samar nashaat
df_data["total"] = df_data["UnitPrice"] * df_data["Quantity"]
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date  total
0     1001    CUST009  Laptop         3        539   1617  2023-06-15   1617
1     1002    CUST007   Phone         1       1530   1530  2023-01-08   1530
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09   6125
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12   1557
4     1005    CUST003  Tablet         5        783   3915  2023-02-09   3915

In [ ]:
#samar nashaat
avg_top3_price = df_data.nlargest(3, "total")["total"].mean()
print("Average price of top 3 expensive purchases:", avg_top3_price)

Average price of top 3 expensive purchases: 7752.0

In [ ]:
#samar nashaat
num_products = df_data["Product"].nunique()
print("Number of different products:", num_products)

Number of different products: 6

In [ ]:
#samar nashaat
stats = df_data["total"].describe()
diff_mean_median = stats["mean"] - stats["50%"]
print("Mean - Median of total:", diff_mean_median)

Mean - Median of total: 256.6399999999999

In [ ]:
#samar nashaat
df_data = df_data.drop(columns=["total"])
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12
4     1005    CUST003  Tablet         5        783   3915  2023-02-09

In [2]:
# from Taqwa
import pandas as pd
# Read the Titanic dataset
df_titanic = pd.read_csv("/Titanic.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/Titanic.csv'

In [3]:
# from Taqwa
import pandas as pd
# Read the Titanic dataset
df_titanic = pd.read_csv("Titanic.csv")

In [4]:
# from taqwa
df_titanic = df_titanic.rename(columns={
"Name" : "Passenger_Name" ,
"Ticket" : "Ticket_Num",
})
print( df_titanic.head() )

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [5]:
#from taqwa
df_titanic = df_titanic.rename(columns={
"Name" : "Passenger_Name" ,
"Ticket" : "Ticket_Num",
})
print( df_titanic.head() )

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [6]:
# from taqwa
df_titanic = df_titanic.set_index("PassengerId")
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

In [7]:
# from taqwa
passenger_name = df_titanic.loc[896,"Passenger_Name"]
print(passenger_name)

Hirvonen, Mrs. Alexander (Helga E Lindqvist)