<a href="https://colab.research.google.com/github/Ali199216/Task-pandas-iti/blob/main/Task_pandas_iti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('/content/Purchase_Data.csv')
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12
4     1005    CUST003  Tablet         5        783   3915  2023-02-09

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
print(df_data.dtypes)

OrderID        int64
CustomerID    object
Product       object
Quantity       int64
UnitPrice      int64
Total          int64
Date          object
dtype: object

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_1 = df_data.loc[:, df_data.columns[:2]]
print(result_1.head())

   OrderID CustomerID
0     1001    CUST009
1     1002    CUST007
2     1003    CUST006
3     1004    CUST011
4     1005    CUST003

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_2 = df_data.loc[:1, :]
print(result_2)

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08

In [ ]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_3 = df_data.loc[:3, df_data.columns[:5]]
print(result_3)

   OrderID CustomerID Product  Quantity  UnitPrice
0     1001    CUST009  Laptop         3        539
1     1002    CUST007   Phone         1       1530
2     1003    CUST006  Tablet         5       1225
3     1004    CUST011  Laptop         1       1557

In [ ]:
#nada mohammed
result_4 = df_data.loc[[0, 4, 6], ["Product", "Date", "Total"]]
print(result_4)

      Product        Date  Total
0      Laptop  2023-06-15   1617
4      Tablet  2023-02-09   3915
6  Headphones  2023-10-24   3088

In [ ]:
#nada mohammed
num_rows = df_data.shape[0]

In [ ]:
# nada mohammed
last_row = df_data.loc[num_rows - 1]
print(last_row)

OrderID             1050
CustomerID       CUST009
Product       Headphones
Quantity               3
UnitPrice           1761
Total               5283
Date          2023-12-14
Name: 49, dtype: object

In [ ]:
# nada mohammed
avg_price = df_data["UnitPrice"].mean()
max_price = df_data["UnitPrice"].max()
print(f'The average unit price is {avg_price} and the maximum unit price is {max_price}')

The average unit price is 1078.46 and the maximum unit price is 1972

In [ ]:
#nada mohammed
avg_price, avg_num_items = df_data[["UnitPrice", "Quantity"]].mean()
print(f'The average unit price is {avg_price} and the average number of items is {avg_num_items}')

The average unit price is 1078.46 and the average number of items is 2.92