<a href="https://colab.research.google.com/github/Ali199216/Task-pandas-iti/blob/main/Task_pandas_iti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('/content/Purchase_Data.csv')
print(df_data.head())

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08
2     1003    CUST006  Tablet         5       1225   6125  2023-07-09
3     1004    CUST011  Laptop         1       1557   1557  2023-04-12
4     1005    CUST003  Tablet         5        783   3915  2023-02-09

In [4]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
print(df_data.dtypes)

OrderID        int64
CustomerID    object
Product       object
Quantity       int64
UnitPrice      int64
Total          int64
Date          object
dtype: object

In [5]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_1 = df_data.loc[:, df_data.columns[:2]]
print(result_1.head())

   OrderID CustomerID
0     1001    CUST009
1     1002    CUST007
2     1003    CUST006
3     1004    CUST011
4     1005    CUST003

In [6]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_2 = df_data.loc[:1, :]
print(result_2)

   OrderID CustomerID Product  Quantity  UnitPrice  Total        Date
0     1001    CUST009  Laptop         3        539   1617  2023-06-15
1     1002    CUST007   Phone         1       1530   1530  2023-01-08

In [7]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_3 = df_data.loc[:3, df_data.columns[:5]]
print(result_3)

   OrderID CustomerID Product  Quantity  UnitPrice
0     1001    CUST009  Laptop         3        539
1     1002    CUST007   Phone         1       1530
2     1003    CUST006  Tablet         5       1225
3     1004    CUST011  Laptop         1       1557

In [10]:
#nada mohammed
result_4 = df_data.loc[[0, 4, 6], ["Product", "Date", "UnitPrice"]]
print(result_4)

      Product        Date  UnitPrice
0      Laptop  2023-06-15        539
4      Tablet  2023-02-09        783
6  Headphones  2023-10-24       1544

In [11]:
#nada mohammed
num_rows = df_data.shape[0]

In [12]:
# nada mohammed
last_row = df_data.loc[num_rows - 1]
print(last_row)

OrderID             1050
CustomerID       CUST009
Product       Headphones
Quantity               3
UnitPrice           1761
Total               5283
Date          2023-12-14
Name: 49, dtype: object

In [14]:
# nada mohammed
avg_price = df_data["UnitPrice"].mean()
max_price = df_data["UnitPrice"].max()
print(f'The average unit price is {avg_price} and the maximum unit price is {max_price}')

The average unit price is 1078.46 and the maximum unit price is 1972

In [15]:

#nada mohammed
avg_price, avg_num_items = df_data[["UnitPrice", "Quantity"]].mean()
print(f'The average unit price is {avg_price} and the average number of items is {avg_num_items}')

The average unit price is 1078.46 and the average number of items is 2.92

In [ ]:

import pandas as pd

df_data = pd.read_csv("Purchase_Data.csv")
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [ ]:
#samar nashaat
df_data["total"] = df_data["price"] * df_data["num_item"]
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price  total
0    2.0    2.0
1    2.0    2.0
2    2.0    2.0
3    6.0    6.0
4    6.0    6.0

In [ ]:
#samar nashaat
avg_top3_price = df_data.nlargest(3, "total")["total"].mean()
print("Average price of top 3 expensive purchases:", avg_top3_price)

Average price of top 3 expensive purchases: 164.0

In [ ]:
#samar nashaat
num_products = df_data["product_id"].nunique()
print("Number of different products:", num_products)

Number of different products: 53

In [ ]:
#samar nashaat
stats = df_data["total"].describe()
diff_mean_median = stats["mean"] - stats["50%"]
print("Mean - Median of total:", diff_mean_median)

Mean - Median of total: 0.9318078781127839

In [ ]:
#samar nashaat
df_data = df_data.drop(columns=["total"])
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

In [ ]:
# from Taqwa
import pandas as pd
# Read the Titanic dataset
df_titanic = pd.read_csv("Titanic.csv")

In [ ]:
#from taqwa
df_titanic = df_titanic.rename(columns={
"Name" : "Passenger_Name" ,
"Ticket" : "Ticket_Num",
})
print( df_titanic.head() )

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [ ]:
# from taqwa
df_titanic = df_titanic.set_index("PassengerId")
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

In [ ]:
# from taqwa
passenger_name = df_titanic.loc[896,"Passenger_Name"]
print(passenger_name)

Hirvonen, Mrs. Alexander (Helga E Lindqvist)

In [ ]:
#Abdelrahman Samir

# Count the number of missing entries in the Age column
missing_age_count = df_titanic['Age'].isnull().sum()

print(f"Number of missing entries in the Age column: {missing_age_count}")

Number of missing entries in the Age column: 0

In [ ]:
#Abdelrahman Samir
# Compute the average age ignoring missing data
avg_age = df_titanic["Age"].mean()
print("Average age of passengers:", avg_age)

Average age of passengers: 30.272590361445783

In [ ]:
#Abdelrahman Samir
# Compute the mean of the Age column, ignoring missing values
mean_age = df_titanic['Age'].mean()

# Fill missing values in the Age column with the mean
df_titanic['Age'] = df_titanic['Age'].fillna(mean_age)

# Display the head to verify the changes (optional, but good practice)
display(df_titanic.head())

# You can also check if there are any remaining missing values in the Age column
print(f"\nNumber of remaining missing values in Age column: {df_titanic['Age'].isnull().sum()}")

,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Number of remaining missing values in Age column: 0

In [ ]:
#Abdelrahman Samir
# Find the average age of the 5 oldest passengers
# Sort by age in descending order, select the top 5, and calculate the mean of the Age column
average_age_top_5_oldest = df_titanic.nlargest(5, 'Age')['Age'].mean()

print(f"The average age of the 5 oldest passengers is: {average_age_top_5_oldest}")

The average age of the 5 oldest passengers is: 67.0

In [ ]:
#Abdelrahman Samir
# Find the average price of the three most expensive purchases
avg_price_top_3 = df_data.nlargest(3, 'price')['price'].mean()
print(f"The average price of the three most expensive purchases is: {avg_price_top_3}")

The average price of the three most expensive purchases is: 6.003333333333333

In [ ]:
#Abdelrahman Samir
# Change the index back to row numbers but making sure that we don't lose the PassengerId column.
df_titanic = df_titanic.reset_index()

# Display the head to verify the changes
display(df_titanic.head())

,index,PassengerId,Pclass,Passenger_Name,Sex,Age,SibSp,Parch,Ticket_Num,Fare,Cabin,Embarked
0,0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S