<a href="https://colab.research.google.com/github/Ali199216/Task-pandas-iti/blob/main/Task_pandas_iti.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('/content/Purchase_Data.csv')
print(df_data.head())

   invoice_number     invoice_time store_id  product_id  category_id  \
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
2    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
3    2.020000e+11  7/15/2015 12:16     G816     7070891        70401
4    2.020000e+11  7/15/2015 12:16     G816     7090363        70401

   num_item  price
0       1.0    2.0
1       1.0    2.0
2       1.0    2.0
3       1.0    6.0
4       1.0    6.0

In [79]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

In [80]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_1 = df_data.loc[:, df_data.columns[:2]]
print(result_1.head())

   invoice_number     invoice_time
0    2.020000e+11  7/15/2015 10:45
1    2.020000e+11  7/15/2015 12:16
2    2.020000e+11  7/15/2015 12:16
3    2.020000e+11  7/15/2015 12:16
4    2.020000e+11  7/15/2015 12:16

In [81]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_2 = df_data.loc[:1, :]
print(result_2)

   invoice_number     invoice_time store_id  product_id  category_id  \
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203

   num_item  price
0       1.0    2.0
1       1.0    2.0

In [82]:
# Ali Sayed Mahmoud
import pandas as pd
df_data = pd.read_csv('Purchase_Data.csv')
result_3 = df_data.loc[:3, df_data.columns[:5]]
print(result_3)

   invoice_number     invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
2    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
3    2.020000e+11  7/15/2015 12:16     G816     7070891        70401

In [85]:
#nada mohammed
result_4 = df_data.loc[[0, 4, 6], ["product_id", "invoice_time", "price"]]
print(result_4)

   product_id     invoice_time  price
0     7000300  7/15/2015 10:45    2.0
4     7090363  7/15/2015 12:16    6.0
6     7000126  7/15/2015 15:28    2.0

In [86]:
#nada mohammed
num_rows = df_data.shape[0]

In [87]:
# nada mohammed
last_row = df_data.loc[num_rows - 1]
print(last_row)

invoice_number    202000000000.0
invoice_time      9/5/2015 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

In [89]:
# nada mohammed
avg_price = df_data["price"].mean()
max_price = df_data["price"].max()
print(f'The average unit price is {avg_price} and the maximum unit price is {max_price}')

The average unit price is 3.1920522110741363 and the maximum unit price is 6.01

In [ ]:
#nada mohammed
avg_price, avg_num_items = df_data[["UnitPrice", "Quantity"]].mean()
print(f'The average unit price is {avg_price} and the average number of items is {avg_num_items}')

In [90]:

import pandas as pd

df_data = pd.read_csv("Purchase_Data.csv")
print(df_data.head())

   invoice_number     invoice_time store_id  product_id  category_id  \
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
2    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
3    2.020000e+11  7/15/2015 12:16     G816     7070891        70401
4    2.020000e+11  7/15/2015 12:16     G816     7090363        70401

   num_item  price
0       1.0    2.0
1       1.0    2.0
2       1.0    2.0
3       1.0    6.0
4       1.0    6.0

In [92]:
#samar nashaat
df_data["total"] = df_data["price"] * df_data["num_item"]
print(df_data.head())

   invoice_number     invoice_time store_id  product_id  category_id  \
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
2    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
3    2.020000e+11  7/15/2015 12:16     G816     7070891        70401
4    2.020000e+11  7/15/2015 12:16     G816     7090363        70401

   num_item  price  total
0       1.0    2.0    2.0
1       1.0    2.0    2.0
2       1.0    2.0    2.0
3       1.0    6.0    6.0
4       1.0    6.0    6.0

In [93]:
#samar nashaat
avg_top3_price = df_data.nlargest(3, "total")["total"].mean()
print("Average price of top 3 expensive purchases:", avg_top3_price)

Average price of top 3 expensive purchases: 164.0

In [95]:
#samar nashaat
num_products = df_data["product_id"].nunique()
print("Number of different products:", num_products)

Number of different products: 53

In [96]:
#samar nashaat
stats = df_data["total"].describe()
diff_mean_median = stats["mean"] - stats["50%"]
print("Mean - Median of total:", diff_mean_median)

Mean - Median of total: 0.9318078781127839

In [97]:
#samar nashaat
df_data = df_data.drop(columns=["total"])
print(df_data.head())

   invoice_number     invoice_time store_id  product_id  category_id  \
0    2.020000e+11  7/15/2015 10:45     G816     7000300       210101
1    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
2    2.020000e+11  7/15/2015 12:16     G816     7070884        70203
3    2.020000e+11  7/15/2015 12:16     G816     7070891        70401
4    2.020000e+11  7/15/2015 12:16     G816     7090363        70401

   num_item  price
0       1.0    2.0
1       1.0    2.0
2       1.0    2.0
3       1.0    6.0
4       1.0    6.0

In [100]:
# from Taqwa
import pandas as pd
# Read the Titanic dataset
df_titanic = pd.read_csv("Titanic.csv")

In [102]:
#from taqwa
df_titanic = df_titanic.rename(columns={
"Name" : "Passenger_Name" ,
"Ticket" : "Ticket_Num",
})
print( df_titanic.head() )

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

In [103]:
# from taqwa
df_titanic = df_titanic.set_index("PassengerId")
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

In [104]:
# from taqwa
passenger_name = df_titanic.loc[896,"Passenger_Name"]
print(passenger_name)

Hirvonen, Mrs. Alexander (Helga E Lindqvist)